<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form id="create" action="/task4/santa/create" method="post">
    <style>
    a.button {
  display: inline-block;
  background: #2196f3;
  color: #fff;
  padding: 12px;
  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
  width: 90%
}



</style>
    <h1>New Super Santa Puk Game</h1>
    <h4><a>Name</a> <input name="name_of_game" type="text"/></h4><br>
    <input class="button" name="name_of_game" type="submit" value="Create!"/>


</form>
</body>
</html>
